In [1]:
# Interview sentiment

In [9]:
import pandas as pd
import string
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import nltk
from nltk.tokenize import word_tokenize
from nltk.sentiment import SentimentIntensityAnalyzer
from collections import Counter

In [10]:
data = pd.read_csv('interview-a.csv')
print(data.dtypes)
print("--------DataType of DataFrame after converting---------")
df=data.convert_dtypes()
print(df.dtypes)

timecode      object
transcript    object
dtype: object
--------DataType of DataFrame after converting---------
timecode      string[python]
transcript    string[python]
dtype: object

In [11]:
df

,timecode,transcript
0,00:00:00.00 - 00:00:19.51,"it was very official, this session is now bein..."
1,00:00:19.51 - 00:00:28.62,"We're just very interested in, you know how yo..."
2,00:00:28.63 - 00:00:31.53,"Um so yeah, I'll just introduce myself quickly."
3,00:00:31.54 - 00:01:07.22,"I am a product designer, I have worked in the ..."
4,00:01:07.23 - 00:01:08.62,Sure.
...,...,...
249,00:46:01.78 - 00:46:02.41,Cool.
250,00:46:02.42 - 00:46:04.92,"Yeah, well, thank you so much."
251,00:46:05.72 - 00:46:06.50,Alright.
252,00:46:06.83 - 00:46:07.54,You too.
253,00:46:07.55 - 00:46:08.30,Bye.

In [12]:
nltk.download('vader_lexicon')
#run this cell to see how the sentiment analyzer works
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/karol/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [13]:
#create a new column called polarity and apply the sia method to the clean_lyric column with a lambda expression
df['polarity'] = df['transcript'].apply(lambda x: sia.polarity_scores(x))
df.head()

,timecode,transcript,polarity
0,00:00:00.00 - 00:00:19.51,"it was very official, this session is now bein...","{'neg': 0.158, 'neu': 0.729, 'pos': 0.114, 'co..."
1,00:00:19.51 - 00:00:28.62,"We're just very interested in, you know how yo...","{'neg': 0.0, 'neu': 0.88, 'pos': 0.12, 'compou..."
2,00:00:28.63 - 00:00:31.53,"Um so yeah, I'll just introduce myself quickly.","{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'comp..."
3,00:00:31.54 - 00:01:07.22,"I am a product designer, I have worked in the ...","{'neg': 0.0, 'neu': 0.872, 'pos': 0.128, 'comp..."
4,00:01:07.23 - 00:01:08.62,Sure.,"{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound..."

In [14]:
#run this cell to transform the polarity dictionary into columns of the DataFrame
df[['neg', 'neu', 'pos', 'compound']] = df['polarity'].apply(pd.Series)
df.drop('polarity', axis=1)

,timecode,transcript,neg,neu,pos,compound
0,00:00:00.00 - 00:00:19.51,"it was very official, this session is now bein...",0.158,0.729,0.114,-0.6597
1,00:00:19.51 - 00:00:28.62,"We're just very interested in, you know how yo...",0.000,0.880,0.120,0.4576
2,00:00:28.63 - 00:00:31.53,"Um so yeah, I'll just introduce myself quickly.",0.000,0.737,0.263,0.3597
3,00:00:31.54 - 00:01:07.22,"I am a product designer, I have worked in the ...",0.000,0.872,0.128,0.8748
4,00:01:07.23 - 00:01:08.62,Sure.,0.000,0.000,1.000,0.3182
...,...,...,...,...,...,...
249,00:46:01.78 - 00:46:02.41,Cool.,0.000,0.000,1.000,0.3182
250,00:46:02.42 - 00:46:04.92,"Yeah, well, thank you so much.",0.000,0.306,0.694,0.7003
251,00:46:05.72 - 00:46:06.50,Alright.,0.000,0.000,1.000,0.2500
252,00:46:06.83 - 00:46:07.54,You too.,0.000,1.000,0.000,0.0000
253,00:46:07.55 - 00:46:08.30,Bye.,0.000,1.000,0.000,0.0000

In [15]:
#df.sort_values(by='neg', ascending=False)
#df.sort_values(by='pos', ascending=False)
#df.sort_values(by='compound', ascending=False)

In [16]:
df.to_csv('interview_a_sentiment.csv')